			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>HOME 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>
			<div class="item">
				<img src="img\makaze.jpg">
				<div class="descr">
					<p>BESTIR 10" Flower Twig Clippers tool stainless steel tool bit</p>
					<h5>300 Din.</h5>
				</div>
			</div>